<template>
    <div>
        <form class="row" @submit.prevent="checkout">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Customer Information
                    </div>
                    <div class="card-body">
                        <form action="" class="row">
                            <div class="form-group col-md-6">
                                <label>First Name</label>
                                <input type="text" class="form-control" v-model="reservation.name.first" v-validate="'required'" name="firstName" :class="{ 'is-invalid' : errors.first('firstName') }" data-vv-as="first name">
                                <div class="invalid-feedback">The first name field is required.</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Last Name</label>
                                <input type="text" class="form-control" v-model="reservation.name.last" v-validate="'required'" name="lastName" :class="{ 'is-invalid' : errors.first('lastName') }" data-vv-as="last name">
                                <div class="invalid-feedback">The first name field is required.</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Email</label>
                                <input type="text" class="form-control" v-model="reservation.email" v-validate="'required|email'" name="email" :class="{ 'is-invalid' : errors.first('email') }" data-vv-as="email address">
                                <div class="invalid-feedback">{{ errors.first('email') }}</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Mobile Number</label>
                                <input type="text" class="form-control" v-model="reservation.mobile" v-validate="{ regex: /^(09|\+639)\d{9}$/ }" name="mobileNumber" :class="{ 'is-invalid' : errors.first('mobileNumber') }" data-vv-as="mobile number">
                                <div class="invalid-feedback">{{ errors.first('mobileNumber') }}</div>
                            </div>
                        </form>
                        <div class="alert alert-warning">
                            Please use an <b>active email address</b> to receive the ticket info and payment receipt.
                        </div>
                    </div>
                    <template v-if="reservation.reserved_seats.length != 1">
                        <div class="card-header card-header-two">
                            Passenger info
                        </div>
                        <div class="card-body">
                            <div class="form-group" v-for="(passenger, index) in reservation.reserved_seats" :key="passenger">
                                <label for="">Passenger Name #{{ index + 1 }}</label>
                                <input type="text" class="form-control" v-model="reservation.passengers[index]" v-validate="'required'" name="passenger_name" :class="{ 'is-invalid' : errors.first('passenger_name') }" data-vv-as="passenger name">
                                <div class="invalid-feedback">{{ errors.first('passenger_name') }}</div>
                            </div>
                        </div>
                    </template>
                    <div class="card-header card-header-two">
                        Ticket Information
                    </div>
                    <div class="card-body">
                        <img :src="'/images/liners/' + reservation.trip.liner.logo" alt="">
                        <hr>
                        <div class="row">
                            <div class="col-md-4 text-center route">
                                <div class="city">
                                    {{ getTerminal(reservation.boardingPoint, 1).city.name }}
                                </div>
                                <div class="terminal">
                                    {{ getTerminal(reservation.boardingPoint, 1).name }}
                                </div>
                            </div>
                            <div class="col-md-4 text-center arrow">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                            <div class="col-md-4 text-center route">
                                <div class="city">
                                    {{ getTerminal(reservation.droppingPoint).city.name }}
                                </div>
                                <div class="terminal">
                                    {{ getTerminal(reservation.droppingPoint).name }}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="text-group">
                            <div class="label">
                                Passengers
                            </div>
                            <!-- <div class="value">
                                {{ reservation.name.first || '--'}} {{ reservation.name.last || '--'}}
                            </div> -->
                            <div class="value" v-for="(passenger, index) in reservation.reserved_seats" :key="index">
                                {{ reservation.passengers[index] || '--'}}
                            </div>
                        </div>
                        <div class="text-group">
                            <div class="label">
                                Trip Date / Time
                            </div>
                            <div class="value">
                                {{ moment(reservation.trip.depart_at).format('MMM D, YYYY @ h:mm a') }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-group col-md-6">
                                <div class="label">
                                    Bus No.
                                </div>
                                <div class="value">
                                    {{ reservation.trip.bus.number }}
                                </div>
                                <div class="label">
                                    {{ reservation.trip.bus.type }}
                                </div>
                            </div>
                            <div class="text-group col-md-6">
                                <div class="label">
                                    Seat/s
                                </div>
                                <div class="value">
                                    {{ reservation.reserved_seats.join() }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
                        Reservation Summary
                    </div>
                    <div class="card-body">
                        <table class="table table-summary">
                            <thead>
                                <tr>
                                    <td width="50%"><b>Seats</b></td>
                                    <td><b>Qty</b></td>
                                    <td class="text-right"><b>Subtotal</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <template v-for="(seat, index) in reservation.reserved_seats">
                                            <span :key="index" class="seat-number">#{{ seat }}</span>
                                        </template>
                                    </td>
                                    <td>
                                        {{ reservation.reserved_seats.length }}
                                    </td>
                                    <td class="text-right">
                                         &#8369; {{ parseFloat(reservation.reserved_seats.length * (reservation.trip.fare - reservation.fare_deduct)).toFixed(2) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Subtotal</td>
                                    <td class="text-right"> &#8369; {{ parseFloat(reservation.reserved_seats.length * (reservation.trip.fare - reservation.fare_deduct)).toFixed(2) }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Service Charge</td>
                                    <td class="text-right"> &#8369; {{ memfees(reservation.reserved_seats.length * (reservation.trip.fare - reservation.fare_deduct)) }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Grand Total</td>
                                    <td class="text-right"> &#8369; {{ memfees(reservation.reserved_seats.length * (reservation.trip.fare - reservation.fare_deduct), false) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-header card-header-two">
                        Payment Method
                    </div>
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" v-model="reservation.payment_method" id="stripe" value="stripe" checked>
                            <label class="form-check-label" for="stripe">
                                Credit / Debit Card
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" v-model="reservation.payment_method" id="paypal" value="paypal">
                            <label class="form-check-label" for="paypal">
                                Paypal
                            </label>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="float-left text-warning" v-if="isProcessing">
                            <i class="fas fa-spinner fa-spin"></i> Payment processing please wait...
                        </div>
                        <div class="text-right">
                            <template v-if="reservation.payment_method == 'paypal'">
                                <paypal :amount="total.toString()" currency="PHP" :client="$root.paypal" env="sandbox" @payment-completed="paypalComplete"
                                @payment-cancelled="paypalCancel"
                                :items="carts" :validate="paypalValidate" :click="paypalOpen"></paypal>
                            </template>
                            <template v-else>
                                <button class="btn btn-primary" type="submit" :disabled="isProcessing">Pay Now</button>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import paypal from 'vue-paypal-checkout'
export default {
    components: {
        paypal
    },
    props:{
        reservationInfo: Object
    },
    data(){
        return {
            reservation: [],
            terminal: [],
            carts: [],
            total: 0,

            isProcessing: false,
        }
    },
    created() {
        this.reservation = this.reservationInfo.reservation;

        this.reservation.reserved_seats.forEach((seat) => {
            const fare = this.reservation.trip.fare - this.reservation.fare_deduct;
            this.carts.push({
                name: 'Seat #'+seat,
                price: fare,
                quantity: 1,
                currency: "PHP"
            })
            this.total+= fare;
        })
        let serviceCharge = this.memfees(this.total);
        this.carts.push({
            name: 'Service Charge',
            price: serviceCharge.toString(),
            quantity: 1,
            currency: "PHP"
        })
        this.total+= parseFloat(serviceCharge);
    },
    methods: {
        paypalOpen(){
            this.isProcessing = true;
        },
        getTerminal(id, type){
            let route;
            if(type == 1){
                route = this.reservation.trip.routes.boarding.find(x => x.id == id)
            }else{
                route = this.reservation.trip.routes.dropping.find(x => x.id == id)
            }
            return route ? route.terminal : false;
        },
        async paypalComplete(response){
            this.reservation.paypal = {
                payer_id: response.payer.payer_info.payer_id,
                transaction_id: response.transactions[0].related_resources[0].sale.id
            };
            this.isProcessing = true;
            this.checkout();
        },
        async paypalCancel(){
            this.isProcessing = false;
            this.$swal({
                type: 'error',
                title: 'Payment Error',
                text: 'Payment Canceled'
            });
            return false;
        },
        paypalValidate(validate){
            this.$validator.validateAll().then((status) => {
                if(status){
                    validate.enable();
                }else{
                    validate.disable();
                }
            });
        },
        async checkout(){
            console.log(this.reservation);
            this.$validator.validateAll().then((status) => {
                if(!status){
                    return false;
                }
                if(this.reservation.payment_method == 'paypal'){
                    axios.post('/trip/book/checkout', this.reservation).then(function({data}){
                        if(data.status){
                            window.location.href = '/trip/book/success/'+data.transaction_id;
                        }else{
                            this.$swal({
                                type: 'error',
                                text: data.message.join("<br/>")
                            });
                            this.isProcessing = false;
                        }
                    });
                }else{
                    const total = this.memfees(this.reservation.reserved_seats.length * (this.reservation.trip.fare - this.reservation.fare_deduct), false);
                    this.$checkout.open({
                        name: 'Pay now!',
                        currency: 'PHP',
                        amount: this.convertToCents(total),
                        email: this.reservation.email,
                        token: function(token) {
                            this.$nextTick(function(){
                                this.isProcessing = true;
                            })
                            this.reservation.stripe = token;
                            axios.post('/trip/book/checkout', this.reservation).then(function({data}){
                                if(data.status){
                                    window.location.href = '/trip/book/success/'+data.transaction_id;
                                }else{
                                    this.$swal(data.message.join("<br/>"));
                                    this.isProcessing = false;
                                }
                            }.bind(this));
                        }.bind(this),
                        opened: () => {
                            this.isProcessing = true;
                        },
                        closed: () => {
                            this.isProcessing = false;
                        }
                    })
                }
            });
        },
        moment: moment,
        memfees(amount, type = true){
            const total = amount + .30;
            if(type){
                return parseFloat((total / (1 - .029)) - amount).toFixed(2);
            }else{
                return parseFloat((total / (1 - .029))).toFixed(2);
            }
        },
        convertToCents(amount){
            return Math.round(100 * parseFloat(typeof amount === 'string' ? amount.replace(/[$,]/g, '') : amount))
        }
    }
}
</script>

<style lang="scss" scoped>
    .card-header-two{
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }
    .route{
        .city{
            font-size: 22px;
        }
        .terminal{
            font-size: 15px;
        }
    }
    .arrow{
        height: 55px;;
        i{
            position: absolute;
            top: 40%;
            font-size: 20px;
        }
    }
    .text-group{
        .label{
            font-size: 15px;
            font-weight: 100;
        }
        .value{
            font-size: 25px;
        }
    }
    .grand-total{
        margin-top: 10px;
        font-size: 25px;
        font-weight: 100;
        .price{
            font-weight: 800;
        }
    }
    .summary{
        font-size: 17px;
        margin-bottom: 10px;
        .text-right{
            small{
                font-size: 13px;
            }
        }
    }
    .seat-number{
        font-weight: bold;
    }
    .seat-number::after{
        font-weight: lighter;
        content: ", ";
    }
    .seat-number:last-child::after{
        content: " ";
    }
    .table-summary{
        margin-bottom: 0px;
        tbody tr:not(:first-child){
            td{
                border: none;
                padding: 5px;
            }
        }
        tbody tr:last-child{
            td{
                font-weight: bold;
                font-size: 19px;
            }
        }
    }
</style>

