<template>
    <div>
        <form class="card" v-on:submit.prevent="submitForm">
            <div class="card-header">
                <h3 class="card-title">Edit Trip</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Bus</label>
                        <select class="form-control" v-model="form.bus" :class="{ 'is-invalid': form.errors.has('bus') }">
                            <option value="" disabled selected>--Select Bus--</option>
                            <option v-for="bus in $root.buses" :value="bus.id" :key="bus.id">{{ bus.body_number }} - {{ bus.name }} {{ $root.role('admin') ? ' [' + bus.liner.name + ']' : '' }}</option>
                        </select>
                        <has-error :form="form" field="bus"></has-error>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Base Fare</label>
                        <input type="text" class="form-control" v-model="form.base_fare" :class="{ 'is-invalid': form.errors.has('base_fare') }">
                        <has-error :form="form" field="base_fare"></has-error>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Departure Date</label>
                        <date-picker v-model="form.departure.date" :config="options" :class="{ 'is-invalid': form.errors.has('departure.date') }" @dp-change="dTimeChange"></date-picker>
                        <has-error :form="form" field="departure.date"></has-error>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Departure Time</label>
                        <date-picker v-model="form.departure.time" :config="timeOptions" :class="{ 'is-invalid': form.errors.has('departure.time') }" ></date-picker>
                        <has-error :form="form" field="departure.time"></has-error>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Arrival Date</label>
                        <date-picker v-model="form.arrival.date" :config="arrivalDateOptions" :class="{ 'is-invalid': form.errors.has('arrival.date') }" ref="arrivalDate"></date-picker>
                        <has-error :form="form" field="arrival.date"></has-error>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Arrival Time <small class="text-muted font-italic">Expected</small></label>
                        <date-picker v-model="form.arrival.time" :config="timeOptions" :class="{ 'is-invalid': form.errors.has('arrival.time') }"></date-picker>
                        <has-error :form="form" field="arrival.time"></has-error>
                    </div>
                    <div class="col-md-12 mt-3 form-group">
                        <div class="float-right">
                            <button class="btn btn-info btn-sm" type="button" @click="addDrop" title="Add Dropping Point">Add Droping Point <i class="fe fe-plus"></i></button>
                        </div>
                        <h3 class="card-title mb-0">Routes</h3>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Boarding Point <small class="text-muted font-italic">Origin</small></label>
                        <multiselect id="bPoint" v-model="form.boardingPoint" :options="bPointTerminal" @search-change="searchTerminal" label="name" :searchable="true" :preserve-search="true" :multiple="true" :max="1" placeholder="Search Boarding Point" :class="{ 'is-invalid': form.errors.has('boardingPoint') }" @remove="remove"></multiselect>
                        <has-error :form="form" field="boardingPoint"></has-error>
                    </div>
                    <div class="form-group col-md-6" v-for="(drop, index) in form.droppingPoints" :key="index">
                        <label>{{ index == 0 ? 'Destination Point' : 'Dropping Point' }}</label>
                        <div class="row gutters-xs">
                            <div class="col">
                                <multiselect :id="index" v-model="form.droppingPoints[index].location" :options="terminalLocations" @search-change="searchTerminal" label="name" :searchable="true" :multiple="true" :preserve-search="true" :max="1" @remove="remove" :placeholder="'Search ' + (index == 0 ? 'Destination' : 'Dropping') + ' Point'" :class="{ 'is-invalid': form.errors.has('droppingPoints.'+index+'.location') }"></multiselect>
                                <has-error :form="form" :field="'droppingPoints.'+index+'.location'"></has-error>
                            </div>
                            <div class="col-2" v-if="index != 0">
                                <input type="text" class="form-control" v-model="form.droppingPoints[index].fare_deduct" placeholder="Fare Deduct">
                            </div>
                            <span class="col-auto">
                                <button class="btn btn-warning" title="Remove Point" v-if="index != 0" @click="removeDrop(index)" type="button"><i class="fe fe-minus"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</template>

<script>

import datePicker from 'vue-bootstrap-datetimepicker';
import Multiselect from 'vue-multiselect'

import { Form, HasError, AlertError } from 'vform'

import { ajaxSearch } from '../../functions.js'

export default {
    components:{
        datePicker,
        Multiselect,
        HasError
    },
    props: ['id'],
    data(){
        return {
            date: new Date(),
            options: {
                format: 'DD/MM/YYYY',
                // format: 'YYYY-MM-DD',
                useCurrent: false,
                minDate: new Date().withoutTime(),
                icons: {
                    time: 'far fa-clock',
                    date: 'far fa-calendar',
                    up: 'fas fa-arrow-up',
                    down: 'fas fa-arrow-down',
                    previous: 'fas fa-chevron-left',
                    next: 'fas fa-chevron-right',
                    today: 'fas fa-calendar-check',
                    clear: 'far fa-trash-alt',
                    close: 'far fa-times-circle'
                }
            },
            timeOptions: {},
            arrivalDateOptions: {
                format: 'DD/MM/YYYY',
                useCurrent: false,
                minDate: new Date().withoutTime(),
            },
            form: new Form({
                bus: '',
                departure:{
                    date: null,
                    time: null
                },
                arrival:{
                    date: null,
                    time: null
                },
                base_fare: null,
                boardingPoint: null,
                droppingPoints: [{
                    location: null,
                    fare_deduct: null
                }],
            }),
            droppingPoints: [0],
            terminalLocations: [],
            bPointTerminal: []
        }
    },
    created(){
        this.$root.getBuses();
        this.getTrip();
        Vue.set(this.timeOptions, "format", 'LT')
        Vue.set(this.arrivalDateOptions, "icons", this.options.icons)
    },
    methods: {
        async submitForm(){
            const { data } = await this.form.post('/admin/trips/'+this.id)
            if(data.status){
                this.$awn.success(data.message);
            }else{
                this.$awn.alert(data.message);
            }
            console.log(data);
        },
        dTimeChange(e){
            this.$refs.arrivalDate.config.minDate = e.date;
        },
        addDrop(){
            this.form.droppingPoints.push({
                location: null,
                fare_deduct: null
            })
        },
        removeDrop(index){
            this.form.droppingPoints.splice(index, 1);
        },
        remove(object, id){
            if(Number.isInteger(id)){
                this.form.droppingPoints[id].location.splice(object, 1);
            }else{
                this.form.boardingPoint.splice(object, 1);
            }
        },
        searchTerminal: _.debounce(function(query, type) {
            console.log(type);
            axios.post('/admin/api/locations/terminals', {
                q: query,
                boardingPoint: this.form.boardingPoint,
                droppingPoints: this.form.droppingPoints
            }).then( response => {
                if(type == 'bPoint'){
                    this.bPointTerminal = response.data.results;
                }else{
                    this.terminalLocations = response.data.results;
                }
            });
        }, 1000),
        async getTrip(){
            const { data } = await axios.post('/admin/api/trips/get', {
                id: this.id
            })

            if(data.status){
                const trip = data.results;

                this.form.bus = trip.bus;
                this.form.base_fare = trip.base_fare;
                this.form.arrival = trip.arrival;
                this.form.departure = trip.departure;

                this.form.boardingPoint = trip.boardingPoint;
                this.form.droppingPoints = trip.droppingPoints;

                this.droppingPoints = new Array(trip.droppingPoints.length);

                console.log(data.results);
            }else{
                window.location.href = '/admin/trips'
            }
        }
    }
}
</script>
<style lang="scss">
    .multiselect.is-invalid  .multiselect__tags{
            border-color: #cd201f !important;
    }
    .multiselect.is-invalid ~ .invalid-feedback{
        display: block;
    }
</style>
