<template>
    <div>
        <div class="card mb-4">
            <div class="card-body">
                <form class="row search-form" @submit.prevent="searchTrips">
                    <div class="form-group col-md-3">
                        <label for="">Origin</label>
                        <select class="form-control" v-model="form.origin">
                            <option value="" disabled selected>Select Origin</option>
                            <optgroup v-for="province in $root.provinces" :key="province.id" :label="province.name">
                                <option v-for="city in province.cities" :key="city.id" :value="city.name" :disabled="form.destination == city.name">
                                    {{ city.name }}
                                </option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="">Destination</label>
                        <select class="form-control" v-model="form.destination">
                            <option value="" disabled selected>Select Destination</option>
                            <optgroup v-for="province in $root.provinces" :key="province.id" :label="province.name">
                                <option v-for="city in province.cities" :key="city.id" :value="city.name" :disabled="form.origin == city.name">
                                    {{ city.name }}
                                </option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="">Date of Trip</label>
                        <date-picker :config="options" v-model="form.date"></date-picker>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="">Seats</label>
                        <select class="form-control" v-model="form.seat_count">
                            <option v-for="seat in 5" :value="seat" :key="seat">{{ seat }}</option>
                            <option value="more">6+</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <button class="btn btn-primary btn-search btn-block">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card text-center" v-if="isLoading">
            <div class="card-body">
                Searching Trips
            </div>
        </div>
        <div v-else>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr class="table-light">
                            <th scope="col" width="20%">Time</th>
                            <th scope="col" class="text-center" width="25%">Route</th>
                            <th scope="col" width="15%">Liner</th>
                            <th scope="col" width="15%">Bus Info</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="trip in trips">
                            <tr :key="trip.id" :class="{ 'table-secondary' : trip.id == selectedTrip }">
                                <td>
                                    {{ trip.departure_time }}
                                </td>
                                <td>
                                    {{ trip.origin }} <i class="fa fa-arrow-right fa-fw"></i> {{ trip.destination }}
                                </td>
                                <td class="liner-info">
                                    <a @click="showLinerInfo(trip.liner.id)" href="Javascript:void(0)" class="text-warning">{{ trip.liner.name }}</a>
                                </td>
                                <td>
                                    Bus {{ trip.bus.number }} <br>
                                    {{ trip.bus.name + ' ' + trip.bus.type }}
                                    <div>
                                        <span class="ml-1" v-for="amenitie in trip.bus.amenities" :key="amenitie">
                                            <i class="fa fa-fw" :class="{ 'fa-wifi' : amenitie == 0, 'fa-tv' : amenitie == 1, 'fas fas fa-toilet-paper' : amenitie == 2, 'fa-charging-station' : amenitie == 3, 'fa-desktop' : amenitie == 4, 'fa-book-reader' : amenitie == 5 }" :title="amenities[amenitie]"></i>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-warning btn-sm" @click="selectTrip(trip.id)">{{ trip.id == selectedTrip ? 'Back' : 'Book' }}</button> <br>
                                    <b>{{ trip.available_seats }} seats available</b>
                                </td>
                            </tr>
                            <tr :key="trip.id + '_seats'" v-if="trip.id == selectedTrip" class="seats">
                                <td colspan="2" class="col-md-4 col-12">
                                    <div class="seats-holder">
                                        <div class="driver">
                                            <img src="/images/seat.png" alt="">
                                            <span>DRIVER</span>
                                        </div>
                                        <div class="seats-row" v-for="(seatRow, index) in seatMap" :key="index">
                                            <div class="seat" v-for="(seat, sIndex) in seatRow" :class="{ 'reserved' : (seat.reserved || seat.type == 'C') , 'selected' : selectedSeats.includes(seat.num) }" @click="(seat.reserved || seat.type == 'C') || selectedSeat(seat.num)" :key="sIndex" v-if="!seat.space">
                                                {{ seat.num }}
                                            </div>
                                            <div class="seat space" v-else>&nbsp;</div>
                                        </div>
                                    </div>
                                </td>
                                <td colspan="3" class="col-md-4 col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <dl class="row mb-2">
                                                <dt class="col-sm-6 col-6">Fare per seat</dt>
                                                <dd class="col-sm-6 col-6 text-right">PHP {{ parseFloat((trip.fare - reservation.fare_deduct)).toFixed(2) }}</dd>
                                            </dl>
                                            <dl class="row mb-2">
                                                <dt class="col-sm-6 col-6">Selected Seats</dt>
                                                <dd class="col-sm-6 col-6 text-right">
                                                    <span class="badge badge-warning" v-if="!selectedSeats.length">
                                                        No Seats Selected
                                                    </span>
                                                    {{ selectedSeats.join() }}
                                                </dd>
                                            </dl>
                                            <dl class="row mb-2">
                                                <dt class="col-sm-6 col-6">Total Fare</dt>
                                                <dd class="col-sm-6 col-6 text-right">
                                                    PHP {{ parseFloat((trip.fare - reservation.fare_deduct) * selectedSeats.length).toFixed(2) }}
                                                </dd>
                                            </dl>
                                            <template v-if="!trip.isP2P">
                                                <dl class="row mb-2">
                                                    <dt class="col-sm-6 col-6">Boarding Point</dt>
                                                    <dd class="col-sm-6 col-6">
                                                        <select class="form-control form-control-sm" v-model="reservation.boardingPoint">
                                                            <option :value="boarding.id" v-for="boarding in trip.routes.boarding" :key="boarding.id">
                                                                {{ boarding.terminal.name }}
                                                            </option>
                                                        </select>
                                                    </dd>
                                                </dl>
                                                <dl class="row mb-2">
                                                    <dt class="col-sm-6 col-6">Dropping Point</dt>
                                                    <dd class="col-sm-6 col-6">
                                                        <select class="form-control form-control-sm" v-model="reservation.droppingPoint" @change="changeDroping(trip.id)">
                                                            <option :value="dropping.id" v-for="dropping in trip.routes.dropping" :key="dropping.id">
                                                                {{ dropping.terminal.name }}
                                                            </option>
                                                        </select>
                                                    </dd>
                                                </dl>
                                            </template>
                                            <!-- <dl class="row mb-2">
                                                <dt class="col-sm-6">Service Fee</dt>
                                                <dd class="col-sm-6 text-right">
                                                    <i class="text-muted"><small>varies depending on the type of payment</small></i>
                                                </dd>
                                            </dl> -->
                                            <dl class="row mb-2">
                                                <dt class="col-sm-6 col-6">GRAND TOTAL</dt>
                                                <dd class="col-sm-6 col-6 text-right">
                                                    PHP {{ parseFloat((trip.fare - reservation.fare_deduct) * selectedSeats.length).toFixed(2) }}
                                                </dd>
                                            </dl>
                                            <div class="text-center">
                                                <button class="btn btn-primary" :disabled="selectedSeats.length == 0" @click="saveSession">Continue</button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </template>
                        <tr v-if="trips.length == 0">
                            <td colspan="5">
                                No Results Found
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <b-modal ref="operatorModal" hide-footer :title="selectedLiner.name" size="lg">
            <table class="table mb-2">
                <tbody>
                    <tr>
                        <td colspan="2" class="text-center liner-logo">
                            <img :src="selectedLiner.logo_url" :alt="selectedLiner.name">
                        </td>
                    </tr>
                </tbody>
            </table>
            <b-tabs pills>
                <b-tab title="Info" active>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" width="40%">Address</th>
                                <td class="text-left">{{ selectedLiner.address }}</td>
                            </tr>
                            <tr>
                                <th scope="row" width="40%">Mobile Number</th>
                                <td class="text-left">{{ selectedLiner.mobile_number }}</td>
                            </tr>
                        </tbody>
                    </table>
                </b-tab>
            </b-tabs>
            <div class="d-block">

            </div>
        </b-modal>
    </div>
</template>
<script>
import datePicker from 'vue-bootstrap-datetimepicker';
import bModal from 'bootstrap-vue/es/components/modal/modal'
import bTabs from 'bootstrap-vue/es/components/tabs/tabs';
import bTab from 'bootstrap-vue/es/components/tabs/tab';

import rating from '../Liner/Rating.vue'

export default {
    components: {
        datePicker,
        bModal,
        bTabs,
        bTab,
        rating
    },
    props: {
        searchQuery: Object
    },
    data(){
        return {

            selectedLiner: {},

            search: [],
            trips: [],
            isLoading: false,

            selectedTrip: '',
            selectedSeats: [],
            reservations: [],
            seatMap: [],

            reservation: {
                trip: '',
                name: {
                    first: '',
                    last: '',
                },
                email: '',
                mobile: '',
                droppingPoint: '',
                boardingPoint: '',
                reserved_seats: [],
                base_fare: '',
                fare_deduct: 0,
                payment_method: 'stripe',
                passengers: []
            },

            options: {
                format: 'DD/MM/YYYY',
                useCurrent: false,
                minDate: new Date().withoutTime(),
            },
            form: {
                origin: '',
                destination: '',
                seat_count: '',
                date: ''
            },

            amenities: ['WIFI', 'TV', 'Restroom', 'Charging Port', 'Personal TV', 'Pillow']
        }
    },
    created(){
        this.$root.getProvinces();
        this.form = this.searchQuery;
        this.searchTrips();
    },
    methods:{
        async saveSession(){
            const trip = this.trips.find(x => x.id == this.selectedTrip);
            this.reservation.reserved_seats = this.selectedSeats
            this.reservation.trip = trip;
            const { data } = await axios.post('/api/tickets/session', {
                reservation: this.reservation
            })
            if(data.status){
                window.location.href = '/trip/book/information'
            }
        },
        async searchTrips(){
            this.isLoading = true;
            const { data }  = await axios.post('/api/trips/search', this.form);
            if(data.status){
                this.trips = data.results;
                this.isLoading = false;
            }
        },
        async selectTrip(id){
            this.selectedSeats = [];
            if(this.selectedTrip == id){
                this.selectedTrip = ''
                this.reservation.fare_deduct = 0;
                return;
            }
            const { data } = await axios.post('/api/tickets', {
                id: id
            })
            if(data.status){
                this.reservations[id] = data.results;
                this.selectedTrip = id;

                const trip = this.trips.find(x => x.id == id);
                this.seatMap = this.generateClean(trip.bus.seat_map, this.reservations[id]);
                this.reservation.droppingPoint = trip.routes.dropping[0].id;
                this.reservation.boardingPoint = trip.routes.boarding[0].id;
            }
        },
        changeDroping(id){
            const trip = this.trips.find(x => x.id == id);

            const drop = trip.routes.dropping.find(y => y.id == this.reservation.droppingPoint);
            this.reservation.fare_deduct = drop.fare_deduct;
        },
        selectedSeat(key){
            if(this.selectedSeats.includes(key)){
                this.selectedSeats.splice(this.selectedSeats.findIndex(x => key == x), 1);
            }else{
                if(this.form.seat_count == 'more'){
                    this.selectedSeats.push(key);
                    return;
                }else if(this.selectedSeats.length < this.form.seat_count){
                    this.selectedSeats.push(key);
                    return;
                }
            }
        },
        generateClean(seat_map, reservations = []){
            if(!seat_map) return console.error("Seat Plan: Vihicle map not provided");
            let seat_count = 0,
                parse_seats = [];
            for(var a = 0; a < seat_map.length; a++){
                let g = [],
                    seats = seat_map[a].split("");
                for(var d = 0; d < seats.length; d++){
                    let seat = {
                        reserved: false,
                        selected: false,
                        space: false,
                        status: false,
                    }
                    if("_" !== seats[d]){
                        if(seat_count++, seat.num = seat_count, seat.type = seats[d], reservations.length > 0){
                            for( var j = 0; j < reservations.length; j++){
                                reservations[j].reserved_seats.indexOf(seat_count) !== -1 && (seat.status = reservations[j].status, seat.reserved = true)
                            }
                        }
                    }else{
                        seat.space = true;
                    }
                    g.push(seat);
                }
                parse_seats.push(g);
            }
            return parse_seats;
        },
        async showLinerInfo(liner_id){

            const { data } = await axios.post('/api/liners', {
                id: liner_id
            })

            if(data.status){
                this.selectedLiner = data.result;
                this.$refs.operatorModal.show();
            }

        }
    }
}
</script>

<style lang="scss">

    .search-form{
        .form-group{
            // margin-bottom: 0px;
            .btn-search{
                margin-top: 30px;
            }
        }
    }

    .table-sm {
        tbody{
            tr {
                background: #fff;
                td {
                    text-align: center;
                    vertical-align: middle;
                    padding: 10px !important;
                }
                td:last-child{
                    button{
                        margin-bottom: 5px;
                    }
                }
            }
            tr.seats{
                td{
                    text-align: left;
                }
            }
        }
        thead th{
            text-align: center;
        }
    }

    .seats-holder{
        margin: 0 auto;
        width: 200px;
        .seats-row{
            display: block;
            margin-bottom: 5px;
        }
        .driver{
            padding: 1px;
            margin-bottom: 10px;
            display: block;
            span{
                font-weight: bolder;
                padding-left: 10px;
                font-size: 12px;
            }
        }
        .seat{
            margin: 1px;
            width: 30px;
            height: 30px;
            background: url("/images/seat.png");
            display: inline-block;
            text-align: center;
            padding-top: 2px;
            font-weight: bolder;
            cursor: pointer;
        }
        .seat.space{
            background: transparent !important;
        }
        .seat.space.seat.selected{
            background: #40deab !important;
        }
        .seat.disabled{
            color: #fff;
            background: url("/images/d-seat.png");
        }
        .seat.selected{
            background: url("/images/s-seat.png");
        }
        .seat.reserved{
            background: url("/images/c-seat.png");
        }
    }

    .liner-info a{
        text-decoration: none;
        font-weight: bold;
    }

    .nav-pills .nav-link{
        margin-bottom: 10px;
    }

    .liner-logo{
        border-top: none !important;
        border-bottom: 1px solid #dee2e6;
    }
</style>
