
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

@import url("https://use.fontawesome.com/releases/v5.4.0/css/all.css");
// Variables
@import "~bootswatch/dist/Cosmo/variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~bootswatch/dist/Cosmo/bootswatch";

@import '~pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';


body{
    font-family: 'Open Sans', sans-serif;
    background-color: #eff6ef;
    height: 100%;
}
footer.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f8f9fa;
    a{
        color: #333;
    }
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-jhem{
    background: #21411c!important;
}

.btn-primary, .btn-jhem, .exchange-jhem{
    background: #21411c!important;
    color: #fff;
}

.btn-primary:hover, .btn-jhem:hover, .exchange-jhem:hover{
    background: #58854e !important;
    color: #fff;
}

.jumbotron{
    background: url('/images/topbg.png') #d8edcd no-repeat;
    background-size: 100% 100%;
}

.form-control{
    border: 1px solid #83b983 !important;
}

.card-header{
    background: #21411c !important;
    color: #fff;
}

.display-5{
    color: #21411c;
    font-weight: bold;
}
// .bk-route{
//     .form-control, .input-group{
//         // width: 45.4444%;
//         display: inline;
//     }
//     .input-group .input-group-prepend, .input-group-text{
//         display: inline-block;
//     }
//     button{
//         display: inline;
//     }
// }

.success-body{
    i{
        margin-bottom: 10px;
    }
    .success-title{
        font-weight: lighter;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    p{
        font-weight: lighter;
    }
}

.lower-bar{
    background: #83b983;
    padding: 15px;
    color: #223b1e;
    .col-md-4{
        i{
            margin-left: 20px;
        }
        span{
            font-size: 20px;
            line-height: 30px;
            margin-left: 15px;
            position: absolute;
        }
    }
}
.main-content{
    min-height: 600px;
}

/* Footer */
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #262626;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #58854e !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #182b17;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#262626;
}
#footer a {
    color: #262626;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#262626;
}
#footer ul.social li a:hover{
	color:#5c5c5c;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}


@media(max-width: 465px){
}
