<<template>
    <div>
        <div class="row">
            <div class="col-md-6">
                <form class="card" v-on:submit.prevent>
                    <div class="card-header">
                        <h3 class="card-title">Seat Generator</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="">Type</label>
                                <select class="form-control" v-model="generates.type">
                                    <option value="0">1x1</option>
                                    <option value="1">2x1</option>
                                    <option value="2">2x2</option>
                                    <option value="3">2x3</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="">Total Rows</label>
                                <input type="text" class="form-control" v-model="generates.total_rows">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" @click="generate">Generate</button>
                        <button class="btn btn-info float-right" @click="resetForm">Reset</button>
                    </div>
                </form>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Seat Information</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="">Seat Layout Title</label>
                            <input type="text" class="form-control" v-model="generates.title">
                        </div>
                        <div class="form-group" v-if="$root.role('admin')">
                            <label for="">Liner</label>
                            <select class="form-control" v-model="generates.liner">
                                <option v-for="liner in $root.liners" :value="liner.id">{{ liner.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" @click="submitSeatLayout">Update</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" v-if="generateSeat.length">
                    <div class="card-header">
                        <h3 class="card-title">Generated Seat</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="seats-holder">
                                    <div class="driver">
                                        <img src="/images/seat.png" alt="">
                                        <span>DRIVER</span>
                                    </div>
                                    <div class="seats-row" v-for="(seatRow, index) in generateSeat">
                                        <div class="seat" v-for="(seat, sIndex) in seatRow" :class="{ 'space' : seat.space, 'selected' : selectedSeats.includes(index+'_'+sIndex), 'disabled' : seat.type == 'D', 'cdriver' : seat.type == 'C' }" @click="selectedSeat(index+'_'+sIndex)">
                                            {{ seat.num || 'x' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="legends mb-5">
                                    <div class="main-title">LEGENDS</div>
                                    <div class="item">
                                        <img src="/images/seat.png" alt="">
                                        <div class="title">Regular Seat</div>
                                    </div>
                                    <!-- <div class="item">
                                        <img src="/images/d-seat.png" alt="">
                                        <div class="title">Disabled Seat</div>
                                    </div> -->
                                    <div class="item">
                                        <img src="/images/c-seat.png" alt="">
                                        <div class="title">Co-Driver Seat</div>
                                    </div>
                                    <div class="item">
                                        <div class="seat">X</div>
                                        <div class="title">Space</div>
                                    </div>
                                    <div class="item">
                                        <div class="seat selected">.</div>
                                        <div class="title">Selected Seat</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" v-model="seatType">
                                        <option value="0">SPACE</option>
                                        <!-- <option value="1">DISABLED SEAT</option> -->
                                        <option value="2">REGULAR SEAT</option>
                                        <option value="3">CO DRIVER SEAT</option>
                                    </select>
                                </div>
                                <div class="form-group text-center">
                                    <button @click="changeSelected" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
/*
GUIDE SEAT
    X = blocked
    D = disabled
    / = disabled allocated

*/
export default {
    props:{
        id: Number
    },
    data(){
        return {
            seatCount: 45,
            lastRowCount: 5,
            generateSeat: [],
            generates: {
                title: '',
                type: '',
                total_rows: '',
                map: [],
                liner: '',
            },
            seatType: '',
            selectedSeats: [],
        }
    },
    created(){
        this.getSeatLayout();
        if(!this.$root.role('admin')){
            this.generates.liner = this.$root.user.id;
        }else{
            this.$root.getLiners();
        }
    },
    methods: {
        resetForm(){
            this.generateSeat = [];
            this.generates = {
                type: '',
                total_rows: '',
                map: [],
            }
            this.selectedSeats = [];
            this.seatType = '';
        },
        async submitSeatLayout(){
            const { data } = await axios.post('/admin/api/seats/'+this.id, this.generates)
            if(data.status){
                this.$awn.success(data.message);
            }else{
                this.$awn.alert(data.message);
            }
        },
        selectedSeat(key){
            if(this.selectedSeats.includes(key)){
                this.selectedSeats.splice(this.selectedSeats.findIndex(x => key == x), 1);
            }else{
                this.selectedSeats.push(key);
            }
        },
        changeSelected(){
            /**
             * X = SPACE
             * D = DISABLED SEAT
             * R = REGULAR SEAT
             * C = CO DRIVER SEAT
             */
            let keys;
            const seatType = [
                '_', 'D', 'R', 'C'
            ]
            this.selectedSeats.forEach( seat => {
                keys = seat.split("_");
                let newVal = this.replaceAt(this.generates.map[keys[0]], keys[1], seatType[this.seatType]);
                this.generates.map[keys[0]] = newVal;
                this.generateSeat = this.generateClean(this.generates.map, []);
                keys = '';
            })

            this.seatType = '';
            this.selectedSeats = [];
        },
        replaceAt(string, index, replace) {
            const arrayString = string.split("");
            arrayString[index] = replace;
            return arrayString.join('');
        },
        generate(){
            this.generates.map = [];
            let temp = [
                'R__R', 'RR_R', 'RR_RR', 'RR_RRR'
            ];

            if(!this.generates.total_rows > 0) throw console.error('Seat Generator: Total seat rows not provided');

            for(var x = 0; x < this.generates.total_rows; x++){
                this.generates.map.push(temp[this.generates.type]);
            }

            // var last_row_seats = this.generates.map[this.generates.map.length - 1];
            // this.generates.map[this.generates.map.length - 1] = "S".repeat(this.generates.last_row_seats);
            // console.log(last_row_seats);

            this.generateSeat = this.generateClean(this.generates.map, []);
        },
        generateClean(seat_map, reservations){
            if(!seat_map) return console.error("Seat Plan: Vihicle map not provided");
            let seat_count = 0,
                parse_seats = [];
            for(var a = 0; a< seat_map.length; a++){
                let g = [],
                    seats = seat_map[a].split("");
                for(var d = 0; d < seats.length; d++){
                    let seat = {
                        reserved: false,
                        selected: false,
                        space: false,
                        status: false,
                    }
                    if("_" !== seats[d]){
                        if(seat_count++, seat.num = seat_count, seat.type = seats[d], reservations.length > 0){
                            for( var j = 0; j < reservations.length; j++){
                                reservations[j].reserved_seats.indexOf(seat_count) !== -1 && (seat.status = reservations[j].status, seat.reserved = true)
                            }
                        }
                    }else{
                        seat.space = true;
                    }
                    g.push(seat);
                }
                parse_seats.push(g);
            }
            return parse_seats;
        },
        async getSeatLayout(){
            const { data } = await axios.post('/admin/api/seats/get', {
                id: this.id
            })
            if(data.status){
                const result = data.results;
                this.generates = {
                    title: result.title,
                    type: result.type,
                    total_rows: result.seat_map.length,
                    map: result.seat_map,
                    liner: result.liner_id
                }
                this.generateSeat = this.generateClean(this.generates.map, []);
            }
        }
    }
}
</script>

<style lang="scss" scoped>

    .seats{
        padding: 5px;
        cursor: pointer;
        background: #333;
        color: #fff;
    }
    .red{
        background: red;
        /* color: red; */
    }

    .seats-holder{
        width: 200px;
        .seats-row{
            display: block;
        }
        .driver{
            padding: 1px;
            margin-bottom: 10px;
            display: block;
            span{
                font-weight: bolder;
                padding-left: 10px;
                font-size: 12px;
            }
        }
        .seat{
            margin: 1px;
            width: 30px;
            height: 30px;
            background: url("/images/seat.png");
            display: inline-block;
            text-align: center;
            padding-top: 2px;
            font-weight: bolder;
            cursor: pointer;
        }
        .seat.space{
            background: transparent !important;
        }
        .seat.space.seat.selected{
            background: #40deab !important;
        }
        .seat.disabled{
            color: #fff;
            background: url("/images/d-seat.png");
        }
        .seat.selected{
            background: url("/images/s-seat.png");
        }
        .seat.cdriver{
            background: url("/images/c-seat.png");
        }
    }

    .legends{
        .main-title{
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .item{
            margin-left: 10px;
            margin-bottom: 5px;
            .title{
                display: inline;
                margin-left: 10px;
                font-weight: bold;
            }
        }
        .seat{
            display: inline-block;
            height: 30px;
            width: 30px;
            text-align: center;
        }
        .seat.selected{
            color: #40deab;
            background: #40deab;
        }
    }
</style>
