<template>
    <div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Add new Ticket</h3>
            </div>
            <div class="card-body">
                <h3 class="card-title">Search Trips</h3>
                <form @submit.prevent="searchTrips" class="row">
                    <div class="form-group col-md-4">
                        <select class="form-control" v-model="form.origin">
                            <option value="" disabled selected>Select Origin</option>
                            <optgroup v-for="province in $root.provinces" :key="province.id" :label="province.name">
                                <option v-for="city in province.cities" :key="city.id" :value="city.name" :disabled="form.destination == city.name">
                                    {{ city.name }}
                                </option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <select class="form-control" v-model="form.destination">
                            <option value="" disabled selected>Select Destination</option>
                            <optgroup v-for="province in $root.provinces" :key="province.id" :label="province.name">
                                <option v-for="city in province.cities" :key="city.id" :value="city.name" :disabled="form.origin == city.name">
                                    {{ city.name }}
                                </option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <date-picker :config="options" v-model="form.date" placeholder="Date of Trip"></date-picker>
                    </div>
                    <div class="form-group col-md-2">
                        <button class="btn btn-secondary btn-block" :disabled="isLoading">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card" v-if="isLoading">
            <div class="card-body text-center">
                Searching Please wait
            </div>
        </div>
        <div class="card" v-if="trips.length != 0 && !isLoading">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Route</th>
                            <th>Bus Info</th>
                            <th>Base Fare</th>
                            <th>Seat Available</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="trip in trips" :key="trip.id">
                            <td scope="row">
                                {{ trip.departure_time }}
                            </td>
                            <td>
                                {{ trip.origin }} <i class="fa fa-arrow-right fa-fw"></i> {{ trip.destination }}
                            </td>
                            <td>
                                Bus {{ trip.bus.number }} | {{ trip.bus.name + ' ' + trip.bus.type }}
                            </td>
                            <td>
                                PHP {{ parseFloat(trip.fare).toFixed(2) }}
                            </td>
                            <td>
                                {{ trip.available_seats }}
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm" :disabled="isModalLoading">
                                    <i class="fa fa-shopping-cart" @click="showModal(trip)"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card" v-else-if="trips.length == 0 && !isLoading">
            <div class="card-body text-center">
                No Trip Found
            </div>
        </div>
        <b-modal ref="checkoutModal" :title="selectedTrip.origin + ' -> ' + selectedTrip.destination" :no-close-on-backdrop="true" :no-close-on-esc="true" size="lg">
            <div class="row">
                <div class="col-md-4">
                    <div class="seats-holder">
                        <div class="driver">
                            <img src="/images/seat.png" alt="">
                            <span>DRIVER</span>
                        </div>
                        <div class="seats-row" v-for="(seatRow, index) in seatMap" :key="index">
                            <div class="seat" v-for="(seat, sIndex) in seatRow" :class="{ 'reserved' : (seat.reserved || seat.type == 'C') , 'selected' : selectedSeats.includes(seat.num) }" @click="(seat.reserved || seat.type == 'C') || selectedSeat(seat.num)" :key="sIndex" v-if="!seat.space">
                                {{ seat.num }}
                            </div>
                            <div class="seat space" v-else>&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="">First Name</label>
                            <input v-model="reservation.name.first" type="text" class="form-control" v-validate="'required'" name="firstName" :class="{ 'is-invalid' : errors.first('firstName') }" data-vv-as="first name">
                            <div class="invalid-feedback">The first name field is required.</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Last Name</label>
                            <input v-model="reservation.name.last" type="text" class="form-control" v-validate="'required'" name="lastName" :class="{ 'is-invalid' : errors.first('lastName') }" data-vv-as="last name">
                            <div class="invalid-feedback">The first name field is required.</div>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Mobile Number</label>
                            <input type="text" class="form-control" v-model="reservation.mobile" v-validate="{ regex: /^(09|\+639)\d{9}$/ }" name="mobileNumber" :class="{ 'is-invalid' : errors.first('mobileNumber') }" data-vv-as="mobile number">
                            <div class="invalid-feedback">{{ errors.first('mobileNumber') }}</div>
                        </div>
                        <template v-if="!selectedTrip.isP2P">
                            <div class="form-group col-md-6">
                                <label for="">Boarding Point</label>
                                <select class="form-control" v-model="reservation.boardingPoint">
                                    <option v-for="boarding in selectedTrip.routes.boarding" :key="boarding.id"  :value="boarding.id" v-html="boarding.terminal.name"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">Dropping Point</label>
                                <select class="form-control" v-model="reservation.droppingPoint" @change="changeDroping">
                                    <option v-for="dropping in selectedTrip.routes.dropping" :key="dropping.id" :value="dropping.id" v-html="dropping.terminal.name"></option>
                                </select>
                            </div>
                        </template>
                    </div>
                    <table class="table table-summary" v-if="selectedSeats.length != 0">
                        <thead>
                            <tr>
                                <td width="50%"><b>Seats</b></td>
                                <td><b>Qty</b></td>
                                <td class="text-right"><b>Subtotal</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <template v-for="(seat, index) in selectedSeats">
                                        <span :key="index" class="seat-number">#{{ seat }}</span>
                                    </template>
                                </td>
                                <td>
                                    {{ selectedSeats.length }}
                                </td>
                                <td class="text-right">
                                        &#8369; {{ parseFloat(selectedSeats.length * (selectedTrip.fare - reservation.fare_deduct)).toFixed(2) }}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td colspan="2">Subtotal</td>
                                <td class="text-right"> &#8369; {{ parseFloat(selectedSeats.length * (selectedTrip.fare - reservation.fare_deduct)).toFixed(2) }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Service Charge</td>
                                <td class="text-right"> &#8369; 0.00</td>
                            </tr>
                            <tr>
                                <td colspan="2">Grand Total</td>
                                <td class="text-right"> &#8369; {{ (selectedSeats.length * (selectedTrip.fare - reservation.fare_deduct)) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div slot="modal-footer" class="w-100">
                <button class="btn btn-secondary float-right" @click="submitForm">
                    Submit
                </button>
            </div>
        </b-modal>
    </div>
</template>

<script>
import datePicker from 'vue-bootstrap-datetimepicker';
import bModal from 'bootstrap-vue/es/components/modal/modal'
export default {
    components: {
        datePicker,
        bModal
    },
    data(){
        return {
            options: {
                format: 'DD/MM/YYYY',
                useCurrent: false,
                minDate: new Date().withoutTime(),
            },
            form: {
                origin: '',
                destination: '',
                date: moment().format('DD/MM/YYYY'),
            },
            reservation: {
                name: {
                    first: '',
                    last: '',
                },
                mobile: '',
                boardingPoint: '',
                droppingPoint: '',
                fare_deduct: 0
            },

            isLoading: false,
            isModalLoading: false,

            trips: [],
            seatMap: [],

            selectedTrip: {
                routes:{
                    dropping: [],
                    boarding: [],
                }
            },
            selectedSeats: [],
        }
    },
    created(){
        this.$root.getProvinces();
    },
    methods:{
        async searchTrips(){
            this.isLoading = true;
            const url = this.$root.role('admin') ? '/admin/api/trips/search' : '/admin/api/trips/search/tenant';
            try{
                const { data } = await axios.post(url, this.form);
                if(data.status){
                    this.trips = data.results;
                    this.isLoading = false;
                }
            }catch($e){
                this.isLoading = false;
            }
        },
        async showModal(trip){
            this.resetForm();
            this.isModalLoading = true;
            this.selectedSeats = [];
            this.selectedTrip = trip;
            const { data } = await axios.post('/api/tickets', {
                id: trip.id
            });

            if(data.status){
                this.reservation.droppingPoint = trip.routes.dropping[0].id;
                this.reservation.boardingPoint = trip.routes.boarding[0].id;
                this.seatMap = this.$root.generate(trip.bus.seat_map, data.results);
                this.$refs.checkoutModal.show();
                this.isModalLoading = false;
            }
        },
        async submitForm(){
            this.$validator.validateAll().then((status) => {
                if(status){
                    this.reservation.reserved_seats = this.selectedSeats;
                    this.reservation.trip = this.selectedTrip;
                    axios.post('/admin/api/trips', this.reservation).then(function({data}){
                        if(data.status){
                            this.$refs.checkoutModal.hide();
                            this.resetForm();
                            this.$swal({
                                type: 'success',
                                title: 'Success',
                                text: 'Successfully Reserved!',
                                footer: '<a href="/ticket/information/'+ data.ticket_no + '/'+ data.trans_id +'" target="_blank">Ticket #' + data.ticket_no + '</a>'
                            })
                        }else{
                            this.$swal({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Something went wrong!',
                            })
                        }
                    }.bind(this));
                }
            });

        },
        selectedSeat(key){
            if(this.selectedSeats.includes(key)){
                this.selectedSeats.splice(this.selectedSeats.findIndex(x => key == x), 1);
            }else{
                this.selectedSeats.push(key);
            }
        },
        changeDroping(id){
            const drop = this.selectedTrip.routes.dropping.find(y => y.id == this.reservation.droppingPoint);
            this.reservation.fare_deduct = drop.fare_deduct;
        },
        memfees(amount, type = true){
            const total = amount + .30;
            if(type){
                return parseFloat((total / (1 - .029)) - amount).toFixed(2);
            }else{
                return parseFloat((total / (1 - .029))).toFixed(2);
            }
        },
        resetForm(){
            this.reservation = {
                name: {
                    first: '',
                    last: '',
                },
                mobile: '',
                boardingPoint: '',
                droppingPoint: '',
                fare_deduct: 0
            };
            this.seatMap = [];

            this.selectedTrip = {
                routes:{
                    dropping: [],
                    boarding: [],
                }
            };
            this.selectedSeats = [];
        }

    }
}
</script>


<style lang="scss" scoped>

.seats-holder{
    margin: 0 auto;
    width: 200px;
    .seats-row{
        display: block;
        margin-bottom: 5px;
    }
    .driver{
        padding: 1px;
        margin-bottom: 10px;
        display: block;
        span{
            font-weight: bolder;
            padding-left: 10px;
            font-size: 12px;
        }
    }
    .seat{
        margin: 1px;
        width: 30px;
        height: 30px;
        background: url("/images/seat.png");
        display: inline-block;
        text-align: center;
        padding-top: 2px;
        font-weight: bolder;
        cursor: pointer;
    }
    .seat.space{
        background: transparent !important;
    }
    .seat.space.seat.selected{
        background: #40deab !important;
    }
    .seat.disabled{
        color: #fff;
        background: url("/images/d-seat.png");
    }
    .seat.selected{
        background: url("/images/s-seat.png");
    }
    .seat.reserved{
        background: url("/images/c-seat.png");
    }
}

.seat-number{
    font-weight: bold;
}
.seat-number::after{
    font-weight: lighter;
    content: ", ";
}
.seat-number:last-child::after{
    content: " ";
}
.table-summary{
    margin-bottom: 0px;
    tbody tr:not(:first-child){
        td{
            border: none;
            padding: 5px;
        }
    }
    tbody tr:last-child{
        td{
            font-weight: bold;
            font-size: 19px;
        }
    }
}

</style>
