<template>
    <div class="app">
        <h1 class="display-5">Book a trip</h1>
        <hr class="my-3">
        <form class="row" @submit.prevent="searchTrip">
            <div class="form-group col-md-12 bk-route">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <select class="form-control" v-model="form.origin" v-validate="'required'" name="origin" :class="{ 'is-invalid' : errors.first('origin') }">
                            <option value="" disabled selected>Select Origin</option>
                            <optgroup v-for="province in $root.provinces" :key="province.id" :label="province.name">
                                <option v-for="city in province.cities" :key="city.id" :value="city.name" :disabled="form.destination == city.name">
                                    {{ city.name }}
                                </option>
                            </optgroup>
                        </select>
                        <span class="invalid-feedback">{{ errors.first('origin') }}</span>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <a class="input-group-text exchange-jhem" href="Javascript:void(0)" @click="exchangeRoute">
                                    <i class="fa fa-exchange-alt"></i>
                                </a>
                            </div>
                            <select class="form-control" v-model="form.destination">
                                <option value="" disabled selected>Select Destination</option>
                                <optgroup v-for="province in $root.provinces" :key="province.id" :label="province.name">
                                    <option v-for="city in province.cities" :key="city.id" :value="city.name" :disabled="form.origin == city.name">
                                        {{ city.name }}
                                    </option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="">Date of Trip</label>
                <date-picker :config="options" v-model="form.date"></date-picker>
            </div>
            <div class="form-group col-md-6">
                <label for="">Seats</label>
                <select class="form-control" v-model="form.seat_count">
                    <option v-for="seat in 5" :value="seat" :key="seat">{{ seat }}</option>
                    <option value="more">6+</option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <button class="btn btn-jhem">Search</button>
            </div>
        </form>
    </div>
</template>
<script>
import datePicker from 'vue-bootstrap-datetimepicker';
export default {
    components: {
        datePicker
    },
    data(){
        return {
            options: {
                format: 'DD/MM/YYYY',
                useCurrent: false,
                minDate: new Date().withoutTime(),
            },
            form: {
                date: moment().format('DD/MM/YYYY'),
                seat_count: 1,
                origin: '',
                destination: '',
            }
        }
    },
    created(){
        this.$root.getProvinces();
    },
    methods: {
        async searchTrip(){
            this.$validator.validateAll().then((status) => {
                if(status){
                    window.location.href = '/trip/search?'+Object.entries(this.form).map(e => e.join('=')).join('&');
                }
            });
            // const { data } = await axios.post('/api/trips/search', this.form);
            // console.log(data);
        },
        exchangeRoute(){
            let temp = this.form.origin;
            this.form.origin = this.form.destination
            this.form.destination = temp;
        }
    }
}
</script>
<style>

</style>


